html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

#root {
  min-height: 100vh;
  background-color: #3a3a3a;
}

/* Wrapper component */
.app-container {
  margin: 0 auto;
  padding-top: 5rem;
  max-width: 700px;
  background-color: inherit;
}

/* Table component */
.table-wrapper thead {
  font-size: 2.4rem;
}

.table-wrapper td {
  font-size: 2rem;
}

.photo-title {
  line-height: 50px;
  cursor: pointer;
}
